@model eTickets.DTO.LoginDTO
@{
	ViewBag.Title = "Login";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">

            <div class="card shadow-lg p-4">
                <h3 class="text-center mb-4">Login</h3>

                <p class="text-center">
                    Already not Registered?
                    <a asp-action="Register" asp-controller="Account">Register</a>
                </p>

                <form asp-controller="Account" asp-action="Login" method="post">

                    <div class="mb-3">
                        <label asp-for="Email" class="form-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="Password" class="form-label"></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>

                  


                    <button type="submit" class="btn btn-primary w-100">
                        Login
                    </button>

                    <div asp-validation-summary="All" class="text-danger mt-3"></div>

                    @if (ViewBag.Error != null)
                    {
                        <div class="text-danger mt-3">
                            <ul>
                                @foreach (var error in ViewBag.Error)
                                {
                                    <li>@error</li>
                                }
                            </ul>
                        </div>
                    }

                </form>
            </div>

        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}