@model eTickets.DTO.CinemaDTOS.CinemaInputDto
@{
    ViewData["Title"] = "Edit Cinema";
}

<div class="row text">
    <div class="col-md-8 offset-2">
        <h1 class="text-center">Edit Cinema</h1>
        <div class="row">
            <div class="col-md-8 offset-2">
                <form asp-action="Edit" asp-route-id="@ViewBag.CinemaId" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group text-center mb-4">
                        <img id="LogoPreview" class="border-info rounded-circle" style="max-width: 180px; height: 180px; object-fit: cover;" src="@Model.Logo" alt="@Model.Name" />
                    </div>

                    <div class="form-group mb-3">
                        <label asp-for="Logo" class="control-label"></label>
                        <input asp-for="Logo" class="form-control" id="LogoUrl" />
                        <span asp-validation-for="Logo" class="text-danger"></span>
                    </div>

                    <div class="form-group mb-3">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>

                    <div class="form-group mb-3">
                        <label asp-for="Description" class="control-label"></label>
                        <textarea asp-for="Description" class="form-control" rows="4"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>

                    <div class="form-group mt-4">
                        <button type="submit" class="btn btn-outline-success">
                            <i class="bi bi-check-circle"></i> Save
                        </button>
                        <a class="btn btn-outline-secondary" asp-action="Index">
                            <i class="bi bi-arrow-left"></i> Cancel
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            const output = document.getElementById('LogoPreview');
            output.src = $("#LogoUrl").val();

            $("#LogoUrl").on("change keyup", function () {
                output.src = $(this).val();
            });
        });
    </script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
